@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/gothic.eot');
    src: local('gothic'), url('../fonts/gothic.woff') format('woff'), url('../fonts/gothic.ttf') format('truetype');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Brush Script MT';
    src: url('../fonts/Brush-Script.ttf');
    font-style: normal;
    font-weight: 200;
}

body
{
    font-family: "Century Gothic", sans-serif;
    background-color: black;
    font-size: 20px;
    border-top: 5px solid #A58B5F;

}

.ui.grid
{
    margin: 0 !important;
}

.center.aligned
{
    text-align: center;
}

.ui.items > .itemNuevo > .image + .content[class*="middle aligned"]
{
    -ms-flex-item-align: center !important;
    -ms-grid-row-align: center !important;
    align-self: center;
}

.middle.aligned
{
    vertical-align: middle;
}

.ui.form *::-moz-placeholder
{
    color: #A58B5F;
    text-align: center;
}


#faceLogo
{
    margin-right: 40px;
}

.ui.form input:not([type]),
.ui.form input[type="text"],
.ui.form input[type="email"]
{
    font-family: "Century Gothic", sans-serif;
    border: 3px solid #E0CD9E !important;
}

p.txtBlanco
{
    color: white;
}

p.txtDorado
{
    color: #E0CD9E;
}

strong.txtDorado
{
    color: #E0CD9E;

}

h1.txtH1
{
    color: #E0CD9E;
    font-family: "Brush Script MT", sans-serif;
    font-size: 5rem;
}

.ui.huge.button
{
    color: white;
    background-color:  #A58B5F; !important;
    border-radius: 40px 40px 40px 40px;
    margin-left: 10px;
    font-family: "Century Gothic", sans-serif;
}

#contenido .centrarImg
{
    margin-top: 2%;
}

#contenido .center.aligned .ui.image
{
    margin: 0 auto;
}

#imgTiendas
{
    margin-top: 30px;
}

#divItems
{
    padding-left: 50px;
}

.itemNuevo
{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    margin: 1em 0;
}

.ui.items > .itemNuevo > .image + .content
{
    padding-left: 1.5em;
}

#imgAppStore
{
    margin-right: 35px;
}

#divInput
{
    margin-top: 50px;
}

#inputEmail
{
    width: 35%;
    height: 50px;
}

#divCaracteristicas
{
    margin-top: 50px;
}

#dividerSuperior
{
    margin-bottom: 40px !important;
}

#dividerInferior
{
    padding-top: 40px;
}

.ui.divider.inverted,
.ui.divider.inverted::after,
.ui.divider.inverted::before
{
    border-bottom-color: #A58B5F !important;
}

#footer
{
    margin-top: 30px;
    border-bottom: 3px solid #A58B5F;
}

@media only screen and (max-width: 776px){

    body
    {
        font-family: "Century Gothic", sans-serif;
        background-color: black;
        font-size: 15px;
    }

    .ui.items > .item{
        flex-direction: row !important;
    }

    #inputEmail
    {
        width: 100%;
        height: 50px;
    }

    .ui.huge.button
    {
        color: white;
        background-color:  #A58B5F; !important;
        border-radius: 40px 40px 40px 40px;
        margin-top: 20px;

    }

    #imgAppStore
    {
        margin-bottom: 10px;
        margin-top: 10px;
        margin-right: 0;
    }

    #divItems
    {
        padding-left: 0;
    }

    #footer
    {
        margin-top: -20px;
    }

    .ui.items > .itemNuevo > .image + .content
    {
        padding-left: 1em;
    }

}

